* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "DM Sans";
  src: url(../fonts/DMSans-VariableFont_opsz\,wght.ttf);
}

html,
body {
  font-family: "Quicksand";
}

.navbar {
  background-color: #ffffff !important;
  padding-top: 23px;
  max-width: 1140px;
  margin: 0 auto;
}

//.nav-item{padding-left: 50px;
//padding-right: 50px;}

.button-register {
  border-radius: 160px;
  border: 0;
  background: linear-gradient(279deg, #6714ef 3.14%, #9f43f1 96.34%);
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 8px 32px 0px rgba(101, 28, 206, 0.58);
  color: #ffffff;
  -webkit-border-radius: 160px;
  -moz-border-radius: 160px;
  -ms-border-radius: 160px;
  -o-border-radius: 160px;
  transition: all 0.3s ease;
}

.button-register:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: all 0.3s ease;
}

.button-register1 {
  border-radius: 160px;
  border: 0;
  background: linear-gradient(279deg, #6714ef 3.14%, #9f43f1 96.34%);
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 8px 32px 0px rgba(101, 28, 206, 0.58);
  color: #ffffff;
  -webkit-border-radius: 160px;
  -moz-border-radius: 160px;
  -ms-border-radius: 160px;
  -o-border-radius: 160px;
  transition: all 0.3s ease;
}

.button-register1:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: all 0.3s ease;
}

.t1 {
  color: #1e103e;
  max-width: 530px;
  font-family: "Poppins-Bold";
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 114%; /* 82.08px */
}

.container {
  max-width: 1140px;
}
.forefront{padding-top: 50px;
padding-bottom: 50px;}
.t2 {
  color: #00062f;
  max-width: 410px;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 32.4px */
}

.lrn {
  color: #fff;

  font-family: "Quicksand";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 20px */
}

.modal-content,
.modal-dialog {
  --bs-modal-width: 300px;
}

.nav-link:hover {
  color: #6222cc;
}

.modal-content {
  position: relative;
}
.btn-close {
  position: absolute;
  top: 0;
  right: 0;
}

section {
  padding-bottom: 100px;
}

.gray {
  background-color: #f3f5f7;
}

.inn-h1, .inn-h11 {
  color: #1e103e;
  font-family: "Quicksand";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 145.833% */
  white-space: nowrap;
}
.inn-h11{width: 100%;}
.inn-h11{white-space: wrap;}
.inn-h2 {
  color: #1e103e;
  font-family: "Quicksand";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  white-space: nowrap;
}

.t3 {
  color: #00062f;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 160% */
  max-width: 469px;
}

.title {
  color: #000;
  font-family: "Quicksand";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.3px; /* 130% */
}

.t4 {
  color: #00062f;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 160% */
}

.arrow {
  max-width: 15px;
}

.lrn-card {
}

.learnmore {
  color: #444;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 160% */
}

.c1 {
  border-radius: 10px;
  background: #fff;
  border: 0;
  width: 290px!important;
  max-height: 290px!important;
}

@media screen and (max-width: 992px) {
  .button-register1 {
    border: 0;
    background: 0;
    padding: 0;
    color: #444;
    transition: all 0.3s ease;
    font-size: 700;
    box-shadow: none;
    
  }
  .inn-h11{white-space: wrap;}
  .button-register1:hover {
    color: #9f43f1;
  }
}
 @media screen and (max-width: 992px) {
  .t1{font-size: 48px;}
  .forefront{padding-bottom: 50px;}
  .inn-h1{width: 100%!important;
  font-size:42px}
  .carous{width: 100%!important;
    max-width: 70%!important;}
  .blog{padding-bottom: 25px;}
 }
 
@media screen and (max-width:1055px){
  .inn-h1, .inn-h2{font-size: 42px;
  line-height: 60px;}
  
}

 .footer1{background-color: #6222CC;
color: #FFFFFF}

.f1{color: #FFFFFF}

.text-body-secondary{color: #ffffff!important;
font-weight: 400;}

h5{font-weight: 600;}

@media screen and (max-width: 600px) {.inn-h1, .inn-h2{white-space: wrap;}
  .inn-h2{font-size:36px;
  line-height: normal}
  .inn-h11{font-size: 36px;}
}

@media screen and (max-width:420px) {.t1{font-size:36px}
.t2{font-size: 14px;}
.inn-h1{font-size: 32px;
line-height: normal;}
.inn-h2{font-size: 24px;
line-height: normal;} 
}

@media screen and (max-width: 520px){section{padding-bottom: 75px;}
  
}

.blog{padding-bottom: 25px;}

@media screen and (max-width:444px) {.inn-h11{font-size: 32px;}
  .cprik{width: 90%!important;
  max-width: 100%!important;}
  .inn-h11{line-height: normal;}  
}
